* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
}

.container-header {
    height: 60px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.p {
    display: flex;
    list-style: none;
}

.padding {
    padding-left: 30px;
}

.padding2 {
    padding-right: 30px;
}

.button {
    padding: 5px 10px;
}

.blue {
    background-color: blue;
    color: white;

}






.container-main {
    max-width: 800px;
    margin: 0 auto;
}

.hero {
    background-color: aqua;
}

.container-hero {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: xxx-large;
    padding-top: 70px;
    padding-bottom: 40px;
}


.sub-container-hero {
    width: 100%;
    display: flex;
}

.text {
    width: 30%;
}

.container-img {
    width: 70%;

}

.jumbo {
    width: 100%;
}

.hero-button {
    padding: 30px 0;
}

.arrow {
    display: flex;
    font-size: xx-large;
    padding-top: 70px;
}

.flex-container-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tabella {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 40px / 3);
    padding: 0 20px 30px 20px;
    font-size: small;
}

.parte-alta {
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.h3 {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: x-large;
}

.li {
    padding: 10px 0;
}

.button-main {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    /* margin: 10px; */
    margin-bottom: 20px;
    padding: 10px;
}

.hr {
    padding: 30px 0;
    max-width: 35px;
}









footer {
    color: white;
    background-color: black;
}

.container-footer {
    max-width: 900px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

}

.b {
    list-style: none;
    padding-top: 20px;
}

.padding-footer {
    padding-bottom: 10px;
}

.grey {
    color: grey;
}